/src
/node_modules
/.idea
/test
/playground
/example
/ignore
/coverage
/.github
/images/contrubuting.png
CONTRIBUTING.md
CONTRIBUTING_ru.md
README_ru.md

tsconfig.json
tsup.config.ts
jest.config.js
last-readme.md
.env
source-code.rar